@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@
@{ Layout = null;}
@{ 
    ViewBag.Title = "PoeApp";
}
<title>@ViewBag.Title</title>
<h2>PoeApp</h2>
<p> Hello from our View Template! </p>
@ViewBag.Message
@Html.ActionLink("Go Home", "goHome")